name: on Main (lint, test and publish)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  call-ci:
    uses: ./.github/workflows/ci.yml
    with:
      run_publish: true
